<%- include("include")%>
    <%- include ("header")%>
        <!-- End Navbar -->
        <div class="content">
            <%-include("navbar")%>
        </div>

        <!-- Modal Cấp quyền admin-->
        <%-include("authorityManager")%>
            <!-- END Modal Cấp quyền admin-->

            <!-- Modal add địa điểm-->
            <%-include("addLocation")%>
                <!-- END Modal add địa điểm-->


                <!-- Start Footer -->

                <%- include("footer")%>
                    <!-- End Footer -->
                    <%- include("end")%>